body {
    background-image: url("https://wallpapercave.com/w/wp7293906.jpg");
    background-size: auto;
    background-position-x: center;
}

div.scroll {
    margin: 4px, 4px;
    padding: 4px;
    width: 500px;
    height: 110px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}