body {
    background-image: url("https://wallpapercave.com/w/wp7293906.jpg");
    background-size: auto;
    background-position-x: center;
}

#div1 {
    background-color: black;
    height: 50px;
    margin-top: 5px;
    text-align: center;
    float: left;
    width: 500px;
    height: 200px;
}