body {
    background-image: url("https://wallpapercave.com/w/wp7293906.jpg");
    background-size: auto;
    background-position-x: center;
}

#div1 {
    background-color: beige;
    height: 50px;
    margin-top: 5px;
    text-align: center;
    box-shadow: black;
    padding: 20px;
    width: 130px;
    height: 100px;
}